/* .menu-nav_item:nth-child(5) a {
  color: #428bca;
} */
.section-form-contact {
  margin-top: 5rem;
  position: relative;
}
.form-contact {
  width: 50%;
}
.title-form {
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
  margin-bottom: 3rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.form-group label {
  font-size: 1.6rem;
}
.form-group input,
#comment {
  padding: 1rem 2rem;
  border: 1px solid #e1e1e1;
}
.form-group input:focus,
#comment:focus {
  outline: none;
}
.form-submit {
  border-radius: 3px;
  border: 1px #428bca solid;
  background-color: #428bca;
  color: #fff;
  display: block;
  padding: 1rem 3rem;
  font-size: 15px;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s,
    background-position 300ms ease-in-out 0s;
  font-weight: 400;
  width: 50%;
  position: relative;
}
.form-submit:hover {
  background-color: #fff;
  color: #428bca;
}

#info-contact {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.flex {
  display: flex;
  gap: 1rem;
}
.icon-contact {
  color: #428bca;
  font-size: 1.6rem;
}
.tel-contact a {
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
}
#map-address {
  height: 25rem;
  width: 55rem;
}
