.section-SignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 7rem;
}
.form-SignUp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 40rem;
  border: 1px solid #ddd;
  padding: 2rem 3rem;
}
.form-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-input input {
  font-size: 1.4rem;
  padding: 1.5rem;
}
.form-submit {
  width: 100%;
  background-color: #428bca;
  color: #fff;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}
.form-submit:hover {
  background-color: #5bc0de;
  color: #fff;
}
.btn-forgetPass,
.btn-signIn {
  text-decoration: none;
  color: #05a;
}
.login-FB,
.login-Google {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  border: none;
  width: 15rem;
}
.login-FB {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
}
.login-FB ion-icon {
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
}
.login-Google {
  background-color: #dd4b39;
  border: 1px solid #dd4b39;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
}
.login-Google ion-icon {
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
}
.login-Google:hover,
.login-FB:hover {
  color: #fff;
  cursor: pointer;
}
.login-FB:hover {
  background-color: #5477b8;
}
.login-Google:hover {
  background-color: #ff5b3c;
}
.line-more {
  display: flex;
  align-items: center;
  color: #848484;
}
.line-more span {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.line_more {
  background-color: #ddd;
  flex: 1;
  height: 1px;
}
